<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matriz Ocupacional - UEA</title>
    <link rel="stylesheet" href="./css/matriz_ocupacional.css">
    <link rel="stylesheet" href="./css/modalMatriz_OCupaciional.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

    <script src="./js/modais.js" defer></script>
    <script src="./js/carregar_tratar_dados.js" defer></script>

</head>
<body>
    
    <div id="bgModal">
        <!-- MODAL DE UNIDADES -->
        <div class="modaloptoinUnidade">
            <div class="titleModal"><h5>Escolha a Unidade</h5> <i onclick="fecharModalUnidade()" class="uil uil-times"></i></div>
            <div class="optionsUnidades">
                <!-- APAGAR ESTES COMENTÁRIOS -->
                <!-- <span onclick="escolherUnidade(this.outerText)">ESA</span> -->
                <!-- <span onclick="escolherUnidade(this.outerText)">ENS</span> -->
                <!-- <span onclick="escolherUnidade(this.outerText)">EST</span> -->
                <!-- <span onclick="escolherUnidade(this.outerText)">ED</span> -->
                <!-- <span onclick="escolherUnidade(this.outerText)">CEST</span> -->
                <!-- <span onclick="escolherUnidade(this.outerText)">CESIT</span> -->
            </div>

        </div>

        <!-- MODAL DE CURSOS -->
        <div class="modalOptionCurso">
            <div class="titleModal">  <h5>Escolha o curso</h5> <i onclick="fecharModalCurso()" class="uil uil-times"></i> </div>
            <div class="optionCurso">
           
            </div>
        </div>

         <!-- MODAL DE TURNO -->
        <div class="modalOptionTurno">
            <div class="titleModal">  <h5>Escolha o turno</h5> <i onclick="fecharModalTurno()" class="uil uil-times"></i> </div>
            <div class="optionTurno">
           
            </div>
        </div>

         <!-- MODAL DE TURNO -->
         <div class="modalOptionCH">
            <div class="titleModal">  <h5>Escolha o turno</h5> <i onclick="fecharModalCargaHoraria()" class="uil uil-times"></i> </div>
            <div class="optionCH">
           
            </div>
        </div>

        <!-- MODAL DE BUSCA EM TURMA -->
        <div class="modalBuscaDisciplina">
            <div class="titleModalDisciplina"> <p>Busque o nome da Disciplina</p> <i onclick="fecharModalDisciplina()" class="uil uil-times"></i> </div>
            <div style="width:100%; display: flex;">

                <span class="contentInputBuscaDisciplina">
                    <input placeholder="Lógica de programação" id="buscaDisciplina" type="text">
                    <span onclick="buscaNomeDisciplina()" title="buscar" class="wrappIconSearch" ><i class="uil uil-search"></i></span>
                </span>
            </div>
            <span class="spanResultadosEncontradosDiscplina">
                <div style="font-size: 12px; padding: 5px; display: none; align-items: baseline;">
                    <p>Número de resultados encontrados:</p>
                    <h5 style="margin-left: 4px; font-size: 13px;" id="numeroBuscaEncontradosDisciplinas"></h5>
                </div>
                
            </span>

        </div>

        <!-- modal de busca das turmas -->
        <div class="modalBuscaTurmas">
            <div class="titleModalTurma">
                <h5>Escolha a Turma</h5> <i onclick="fecharModalTurma()" class="uil uil-times"></i>
            </div>

            <div class="contentSearchTurma">
                <div class="wrappingTurma">
                    <span><i class="uil uil-search"></i></span>
                    <input placeholder="informe uma turma" class="inputSearchTurma" type="text">
                    <button id="btnBuscaTurma">buscar</button>
                </div>
            </div>

            <div class="linhaSeparadora"></div>

            <div class="listTurmas">
                <!-- <span onclick="abreTabelaTurma(this, 0)" class="infoTurmaInModalTurmas"> <p>DN05_T01 - 16 resultados</p> <i class="uil uil-angle-down"></i>  </span>
                <div class="contentTableTurma">
                    <table class="tabelaTurma">
                        <thead>
                            <tr><th>turma</th> <th>unidade</th> <th>curso</th> </th> <th>componete</th> <th>turno</th> <th>docente</th> </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>DN05_T01</td> <td>ED</td> <td>Direito</td> <td>Direito do Trabalho I</td> <td>VESPERTINO</td> <td>MARIA CRISTINA NERY FONSECA ROCHA MEDICINA</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
                
            </div>
        </div>


    </div>

    <header codSemestre="<%= codSemestre %>" class="cabecalhoRelatorioMatriz">
            <div><img src="./img/logo_prograd_verde.svg" width="150px" alt="logo_prograd" title="logo_prograd"></div>
            <h3 style="font-size:18px; margin-top: 3px;">Universidade do Estado do Amazonas</h3>
            <p id="titlePageWithSemestre" style="font-weight: 500;">Matriz Ocupacional - <%= ano_semestre %></p>

            <div class="linhaSeparadoraMatriz"></div>

            <div class="dataImpressao">
                <span style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <i class="uil uil-clock"></i>
                    <p class="valorHoraImpressao"></p>
                </span>
                <span style="display: flex; flex-direction: column; align-items: center; justify-content: center;" >
                    <i class="uil uil-calendar-alt"></i>
                    <p class="valorDataImpressao"></p>
                </span>
                <span style="display: flex; flex-direction: column; align-items: center; justify-content: center;" >
                    <i class="uil uil-lock-access"></i>
                    <p class="valorHash"></p>
                </span>
            </div>

            <div id="HeaderInfoTable" style="display: flex; align-items: flex-start; justify-content: space-between; width: 95%; ">

                

                <div class="cantentLegendas">
                    <h5>Leegndas</h5>
                    <span class="rowLegenda"> <h5>C.h</h5> <p> - Carga horária</p></span>
                    <span class="rowLegenda"> <h5>Cod. S.A</h5> <p> - Código no Sistema Acadêmico</p></span>
                    <span class="rowLegenda"> <div class="corIncompleta"></div> <p>carga horária incompleta</p> </span>
                    <span class="rowLegenda"> <div class="corExcesso"></div> <p>carga horária em excesso</p> </span>
                </div>
                <div class="cantentBtnsHeaderTable" >
                    <span onclick="imprimirMatrizOcupacional()">
                        <img width="25px" src="./img/iconimpressao.svg" title="imprimir matriz" alt="icon_impressora">
                        <p>imprimir</p>
                    </span>
     
                </div>

                <div class="filtrosTable">
                    <div style="width:100%; display: inline-flex; align-items: baseline;"> <i class="uil uil-filter"></i> <h5 style="margin-left: 3px;">Filtros</h5></div>
                    <span onclick="abrirModalUnidade()">Unidade</span>
                    <span onclick="abrirModalCurso()" >Curso</span>
                    <span onclick="abrirModalTurma()" >Turma</span>
                    <!-- <span>Mod. Oferta</span> -->
                    <!-- <span>Mod. Ensino</span> -->
                    <!-- <span >Vinculo Docente</span> -->
                    <span onclick="abrirModalTurno()" >Turno</span>
                    <span onclick="abrirModalDisciplina()">Disciplina</span>
                    <span onclick="abrirModalStatusCargaHoraria()">Status C.h</span>

                    <div class="barSearchContent">
                        <input placeholder="busque um professor" id="inputBarSearch" type="text">
                        <i onclick="buscaInTableDocente()" class="uil uil-search"></i>
                    </div>
                </div>
    
            </div>
            
            <!-- <div class="linhaSeparadoraMatriz"></div> -->

           


            

            <div class="contentTable">
                <div id="tabela">
                    <!-- <thead> <tr> <th>Unidade</th> <th>Curso</th> <th>Nome_Professor</th> <th>Vínculo</th> <th>status</th> <th>C.h vínculo</th> <th>Componente Curricular</th> <th>Período</th> <th>C.h semanal</th> <th>C.h total</th>  <th>  <table><thead><tr style="text-align: center;" >horario</tr></thead> <tbody class="bodyDiaSemana"><tr><td>Seg</td> <td>Ter</td> <td>Qua</td> <td>Qui</td> <td>Sex</td> <td>Sab</td></tr></tbody> </table>  </th>  <th>status de C.h</th>  <th>obsrvação</th></tr></thead> -->
                        <!-- tabela dados gerais -->
                        
                        <div class="contentTableInTable">
                     
                        <div class="cabecalho_new_table">Informações Gerais</div>
                        <table class="tableInTable">
                            <thead>
                                <tr><th>Unidade</th><th style="cursor:pointer" onclick="esconderColuna(0,1)">Coordenação</th><th>Curso</th> <th style="cursor:pointer" onclick="esconderColuna(0,3)">Modalidade Curso</th> <th style="cursor:pointer" onclick="esconderColuna(0,4)">Modalidade Oferta</th> <th style="cursor:pointer" onclick="esconderColuna(0,5)">Modalidade Ensino</th> <th>Turno</th></tr>
                            </thead>
                            <tbody>
                                <!-- <tr valorLinha="0" ><td class="valueUnidadeInTable">ESA</td><td>MEDICINA</td><td class="valueCursoInTable">MEDICINA</td><td class="valueTurnoInTable">Bacharelado</td> <td>Regular</td> <td>Presencial</td> <td>VESP</td> </tr> -->
                                <!-- <tr valorLinha="1" ><td class="valueUnidadeInTable">ENS</td><td>MEDICINA</td><td class="valueCursoInTable">LETRAS</td><td class="valueTurnoInTable">Licenciatura</td> <td>Especial</td> <td>Presencial Modular Mediado</td> <td>MAT</td> </tr> -->
                                <!-- <tr valorLinha="2" ><td class="valueUnidadeInTable">CESIT</td><td>MEDICINA</td><td class="valueCursoInTable">MEDICINA</td><td class="valueTurnoInTable">Tecnológo</td> <td>Especial Parfor</td> <td>Presencial Modular</td> <td>NOT</td> </tr> -->
                            </tbody>
                        </table>

                        </div>
                        <!-- tabela dados componente curricular -->
                        
                        <div class="contentTableInTable">
                        <div class="cabecalho_new_table">Componente Curricular</div>
                        <table class="tableInTable">
                            <thead>
                                <tr>
                                    <th style="cursor:pointer" onclick="esconderColuna(1,0)" >Código</th>
                                    <th>Nome</th>
                                    <th>Período </th>
                                    <th>Ch. total</th>
                                    <th>Ch. semanal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr><td>EXX</td><td>Caálculo I</td><td>1º</td><td>60h</td><td>4h</td></tr> -->
                                <!-- <tr><td>EXX</td><td>Caálculo I</td><td>1º</td><td>60h</td><td>4h</td></tr> -->
                                <!-- <tr><td>EXX</td><td>Caálculo I</td><td>1º</td><td>60h</td><td>4h</td></tr> -->
                            </tbody>
                        </table>
                        </div>

                        <div class="contentTableInTable">
                            <div class="cabecalho_new_table">Dados Docente</div>
                            <table class="tableInTable">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th style="cursor:pointer" onclick="esconderColuna(2,1)">Cod. S.A</th>
                                        <th>Regime de Trabalho </th>
                                        <th style="cursor:pointer" onclick="esconderColuna(2,3)">Vínculo</th>
                                        <th style="cursor:pointer" onclick="esconderColuna(2,4)">Status</th>
                                        <th>Ch. total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr><td>Lucas</td><td>1</td><td>20h</td><td>Efetivo</td><td>ativo</td><td>16h</td></tr> -->
                                    <!-- <tr><td>Lucas</td><td>1</td><td>20h</td><td>Efetivo</td><td>ativo</td><td>16h</td></tr> -->
                                    <!-- <tr><td>Lucas</td><td>1</td><td>20h</td><td>Efetivo</td><td>ativo</td><td>16h</td></tr> -->
                                </tbody>
                            </table>
                        </div>

                        <div class="contentTableInTable">
                            <div class="cabecalho_new_table">Turma</div>
                                <table class="tableInTable">
                                    <thead>
                                        <tr>
                                            <th style="cursor:pointer" onclick="esconderColuna(3,0)">Código Turma</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr><td>A1</td></tr> -->
                                        <!-- <tr><td>A1</td></tr> -->
                                        <!-- <tr><td>A1</td> </tr> -->
                                    </tbody>
                                </table>
                        </div>
                        <div class="contentTableInTable">
                            <div class="cabecalho_new_table">Horário Semanal</div>
                                <table class="tableInTable tableDiasSemana">
                                    <thead>
                                        <tr>
                                            <th>Seg</th>
                                            <th>Ter</th>
                                            <th>Qua</th>
                                            <th>Qui</th>
                                            <th>Sex</th>
                                            <th>Sab</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr><td>7:00 - 8:00</td><td></td><td></td><td>16:00 - 19:00</td><td></td><td></td><td></td></tr>  -->
                                        <!-- <tr><td>7:00 - 8:00</td><td></td><td></td><td>16:00 - 19:00</td><td></td><td></td><td></td></tr> -->
                                        <!-- <tr><td>7:00 - 8:00</td><td></td><td></td><td>16:00 - 19:00</td><td></td><td></td><td></td></tr> -->
                                    </tbody>
                                </table>
                        </div>

                        <div class="contentTableInTable">
                            <div class="cabecalho_new_table">Status C.h</div>
                                <table class="tableInTable ">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Informações Complementares</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr><td>Completa</td></tr> -->
                                        <!-- <tr><td>Completa</td></tr> -->
                                        <!-- <tr><td>Completa</td></tr> -->
                                    </tbody>
                                </table>
                        </div>

                        <!-- <tr class="linhaIncompleta"> <td>ESA</td> <td>Medicina</td> <td>Adriana Távora de A. Taveira</td> <td>Efetivo</td> <td>-</td> <td>40h</td> <td>Estágio em Peuricultura e Pediatria</td> <td>11º</td> <td>40,5h</td> <td>10h</td> <td> <table><tbody class="bodyDiaSemana"><tr><td class="seg">7:30-11:50</td> <td class="ter"></td> <td class="qua"></td> <td class="qui"></td> <td class="sex">14:00-16:00</td> <td class="sab"></td> </tr></tbody></table> <td >incompleta</td> <td>- </td> </tr> -->
                        <!-- <tr class="linhaExcesso"> <td>ESA</td> <td>Medicina</td> <td>Altair Rodrigues Chaves</td> <td>Efetivo</td> <td>-</td> <td>40h</td> <td>Estágio em Urgência e Emergência </td> <td>11º</td> <td>40,5h</td> <td>22h</td> <td>Ter | 14:00 - 16:00</td> <td >em excesso</td> </tr> -->
                        <!-- <tr class="linhaExcesso"> <td>ESA</td> <td>Medicina</td> <td>Altair Rodrigues Chaves</td> <td>Efetivo</td> <td>-</td> <td>40h</td> <td>Anatomia Humana </td> <td>2º</td> <td>12h</td> <td>22h</td> <td>Ter | 14:00 - 16:00</td> <td >em excesso</td> </tr> -->
                        <!-- <tr class="linhaExcesso"> <td>ESA</td> <td>Medicina</td> <td>Altair Rodrigues Chaves</td> <td>Efetivo</td> <td>-</td> <td>40h</td> <td>Clinica médica II (nefrologia) </td> <td>6º</td> <td>4h</td> <td>22h</td> <td>Ter | 14:00 - 16:00</td> <td >em excesso</td> </tr> -->
                        <!-- <tr class=""> <td>ESA</td> <td>Medicina</td> <td>Agnaldo Barroso dos Santos</td> <td>Efetivo</td> <td>-</td> <td>40h</td> <td>Clínca Médica I (Cardiologia) </td> <td>5º</td> <td>12h</td> <td>16h</td> <td>Ter | 14:00 - 16:00</td> <td >normal</td> </tr> -->
                    </tbody>
                </table>
                </div>
            </div>
    </header>
    
</body>
<script defer>

    function esconderColuna(valorTabela,valueCol){
        document.querySelectorAll('.tableInTable')[valorTabela].querySelectorAll('thead tr th')[valueCol].style.display = 'none';

        document.querySelectorAll('.tableInTable')[valorTabela].querySelectorAll('tbody tr').forEach((linha)=>{
            linha.querySelectorAll('td')[valueCol].style.display = 'none';
        })
    }

    function imprimirMatrizOcupacional(){
       
    
    let hora = document.querySelector('.valorHoraImpressao'); 
    let data = document.querySelector('.valorDataImpressao');
    let dataAtual = new Date();
    
    let valorhora = dataAtual.getHours();
    if(parseInt(valorhora)<10){
        valorhora = '0'+valorhora;
    }
    let valorMinuto = dataAtual.getMinutes();
    if(parseInt(valorMinuto)<10){
        valorMinuto = '0'+valorMinuto;
    }
    let valorDia = dataAtual.getDate()
    if(parseInt(valorDia)<10){
        valorDia = '0'+valorDia;
    }
    let valorMes = dataAtual.getMonth()
    if(parseInt(valorMes)<10){
        valorMes = '0'+valorMes;
    }
    let valorAno = dataAtual.getFullYear()
    
    let key = '123456'
    let textPlain = `${valorhora}${valorMinuto}${valorDia}${valorMes}${valorAno}`;
    console.log(textPlain)
    let hash = CryptoJS.AES.encrypt(textPlain, key);
    document.querySelector('.valorHash').innerText = hash;
    let hashDecripted = CryptoJS.AES.decrypt(hash.toString(), key);
    console.log(hashDecripted.toString())

    // console.log(hash.toString())

    hora.innerHTML = `${valorhora}:${valorMinuto}`
    data.innerHTML = `${valorDia}/${valorMes}/${valorAno}`
    
    
    
    
    
    
    window.print();
}

    async function buscardados(){
        const dadosBody =  JSON.stringify({ 'semestre': parseInt(document.querySelector('.cabecalhoRelatorioMatriz').getAttribute('codSemestre'))});
      const dados = await fetch('/teste', {
            method: 'POST',
            body:dadosBody,
            headers: {'Content-Type': 'application/json'},

        }).then(async (value) => {
            // const dado_retorno = await value.json();
            let dado = await value.json();
            console.log(dado.relatorio)
            return dado.relatorio;
        }).catch((err)=>{
            console.error(err);
            return false;
        })

     return dados;   
    }


    //FUNÇÃO QUE MARCA A LINHA
    function marcarLinha(numeroLinha){
        const tabelas = document.querySelectorAll('.tableInTable');
        tabelas.forEach((tabela) => {



            let linha = tabela.querySelectorAll('tr')[numeroLinha + 1];
            celulas = linha.querySelectorAll('td')
            celulas.forEach((celula)=>{
                celula.classList.toggle('active')
            })
            
            // linha.querySelectorAll('td').for
        })
    }

    document.querySelector("#btnBuscaTurma").addEventListener('click', ()=>{
        let contentListaTurmas = document.querySelector('.listTurmas') //onde será inserida a lista de turma encontrada
        let vetor_dia_semana = ['SEG','TER','QUA','QUI','SEX','SEX','SAB','DOM']
        
        let tabelas = document.querySelectorAll('.tableInTable');
        const valor = document.querySelector('.inputSearchTurma').value.trim().toLowerCase();
        if(valor == null || valor == undefined || valor == '' || valor.length < 3){
            alert('insira um no mínimo 3 caracteres');
        }else{
            contentListaTurmas.innerHTML = ""; //LIMPA A LISTA DE TURMAS
            let listaTurmasOK = [];
            let linhaTurmasOk = []
            let linhas_TabelaTurma = tabelas[3].querySelectorAll(' tbody tr')
            
            linhas_TabelaTurma.forEach((linha)=>{
                console.log(linha);
                let valor_celula = linha.querySelector('td').outerText.trim().toLowerCase();
                if(valor_celula.includes(valor)){
                    linhaTurmasOk.push(linha.getAttribute('valorlinha'));
                    if(listaTurmasOK.indexOf(valor_celula) === -1){
                        listaTurmasOK.push(valor_celula);
                    }
                }
            })

            console.log(listaTurmasOK);          
            
            listaTurmasOK.forEach( (nome_turma_ok,index)=>{
                
                let numRegistro = 0;
                let linhaRegistroTurma = ''
                linhaTurmasOk.forEach((numero_linha_ok)=>{
                    if(tabelas[3].querySelectorAll(' tbody tr')[numero_linha_ok].outerText.trim().toLowerCase() === nome_turma_ok){
                        // let valor_current_unidade = tabelas[0].querySelectorAll('tbody tr')[numero_linha_ok].querySelectorAll('td')[0].outerText;
                        let valor_current_unidade = tabelas[0].querySelectorAll('tbody tr')[numero_linha_ok].querySelectorAll('td')[0].outerText;
                        let valor_current_curso = tabelas[0].querySelectorAll('tbody tr')[numero_linha_ok].querySelectorAll('td')[2].outerText;
                        let valor_current_turno = tabelas[0].querySelectorAll('tbody tr')[numero_linha_ok].querySelectorAll('td')[6].outerText;
                        let valor_current_codigo_componente = tabelas[1].querySelectorAll('tbody tr')[numero_linha_ok].querySelectorAll('td')[0].outerText;
                        let valor_current_nome_componente = tabelas[1].querySelectorAll('tbody tr')[numero_linha_ok].querySelectorAll('td')[1].outerText;
                        let valor_current_nome_docente = tabelas[2].querySelectorAll('tbody tr')[numero_linha_ok].querySelectorAll('td')[0].outerText;
                        let valor_current_codigo_docente = tabelas[2].querySelectorAll('tbody tr')[numero_linha_ok].querySelectorAll('td')[1].outerText;
                        let valor_current_dia_semana = '';
                        let valor_current_horario_aula = '';
                        tabelas[4].querySelectorAll('tbody tr')[numero_linha_ok].querySelectorAll('td').forEach((dia_semana,index)=>{ if(dia_semana.outerText != "-" && dia_semana.outerText != "" && dia_semana.outerText != " "  ){ valor_current_dia_semana =  index;   valor_current_horario_aula = dia_semana.outerText} })

                        linhaRegistroTurma = linhaRegistroTurma + `<tr><td>${nome_turma_ok.toUpperCase()}</td> <td>${valor_current_unidade}</td> <td>${valor_current_curso}</td> <td> ${valor_current_codigo_componente}-${valor_current_nome_componente}</td> <td>${valor_current_turno}</td> <td>${valor_current_codigo_docente}-${valor_current_nome_docente}</td> <td>${vetor_dia_semana[valor_current_dia_semana]} - ${valor_current_horario_aula} </td> </tr>`
                        numRegistro ++
                    }
                })

                //Adcionar a informaçao à tabela turmas 
                let cabecalhoInfoTurma = `<span onclick="abreTabelaTurma(this, ${index})" class="infoTurmaInModalTurmas"> <p>${nome_turma_ok.toUpperCase()} - ${numRegistro} resultados</p> <i class="uil uil-angle-down"></i>  </span>`
                contentListaTurmas.innerHTML = contentListaTurmas.outerHTML + cabecalhoInfoTurma;
                contentListaTurmas.innerHTML = contentListaTurmas.outerHTML +  `<div class="contentTableTurma"> <table class="tabelaTurma"> <thead> <tr><th>turma</th> <th>unidade</th> <th>curso</th> </th> <th>componete</th> <th>turno</th> <th>docente</th> <th>horário aula</th> </tr> </thead> <tbody> ${linhaRegistroTurma} </tbody> </table> </div> ` ;
                
            })

        }
    });



</script>
</html>